
.footer {
    background-color: #09005c;

    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer p {
    margin: 0;
    font-size: 1rem;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

.footer-links li {
    display: inline;
}

.footer-links a {
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #007bff;
}


@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        gap: 5px;
    }
} 